@{
    ViewData["Title"] = "Grupo";
}

<section class="text-center">
    <h1 class="display-4">GRUPO</h1>
    @model Dictionary<int, Integrante>
    @foreach(Integrante integrante in Model.Values)
        {
            <a href="/Grupo/@integrante.DevNombre()">
                <p>@integrante.DevNombre()</p>
            </a>
        }
</section>
