@{
    ViewData["Title"] = "Grupo";
}

<div class="text-center">
    <h1 class="display-4">GRUPO</h1>
    <p>Bautista Di Paolo<a href="https://localhost:5001/Grupo/Index">Bautista Di Paolo</a>.</p>
</div>
